{% extends 'base.html'%}
{% block head %}
{% endblock %}


{% block body %}
<form method="post" action="/">
    <div  class='fst_block'>
        <input id='w' type="submit" value="W" name="w"/>
    </div>
    
    <div class='scd_block'>
        <input id='a' type="submit" value="A" name="a"/>
        <input id='s' type="submit" value="S" name="s"/>
        <input id='d' type="submit" value="D" name="d"/>
    </div>
    <div class='auto'>
        <input id='auto'  type="submit" value="Automatic" name="auto"/>
    <div>
<form>

{% endblock %}